:root {
   --red: #ffacac;
   --blue: #8ab3ff;
   --orange: #fbdaa0;
   --green: #cbffaf;
}

body {
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-style: normal;
}

#header {
   height: 200px;
   display: grid;
   justify-items: center;
   align-items: center;
   grid-template-rows: 150px 50px;
   margin-bottom: 70px;
}

#logo {
   font-size: 5em;
}

#add-book {
   font-family: "Lato", sans-serif;
   font-weight: 700;
   font-size: 16px;
   height: 45px;
   cursor: pointer;
   border: 0px;
   border-radius: 5px;
   width: 120px;
   background-color: var(--blue);
}

#main-container {
   width: calc(100%-40px);
   margin: 20px;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
   gap: 30px;
   justify-items: center;
}

.card {
   width: 200px;
   height: 300px;
   background-color: white;
   border: 2px solid black;
   border-radius: 5px;
   padding: 15px;
   position: relative;
}


body,
h1,
h2,
h3,
h4 {
   margin: 0;
}

h1 {
   text-align: center;
   margin: 10px 0;
   font-family: "Italiana", sans-serif;
}

h2 {
   margin-bottom: 7px;
}

h3 {
   color: rgb(91, 91, 91);

   font-size: 16px;
}

h4 {
   color: rgb(91, 91, 91);
   font-size: 14px;
}

dialog {
   border-radius: 4px;
}

#book-form {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: repeat(4, 1fr) 70px;
   align-items: center;
   font-size: 18px;
   border-radius: 5px;
}

#book-form fieldset {
   grid-column: 1/3;
   border: 0px;
   padding: 10px;
   justify-self: end;
}

#book-form button {
   height: 40px;
   width: 100px;
   justify-self: center;
   align-self: end;
   margin-bottom: 10px;
   font-weight: 800;
   padding: 10px;
   cursor: pointer;
   border: 0px;
   border-radius: 5px;
}

#submit {
   background-color: var(--green);
}

#cancel-button {
   background-color: var(--red);
}

.status {
   position: absolute;
   width: 85px;
   height: 35px;
   top: 280px;
   display: grid;
   align-items: center;
   justify-items: center;
   border-radius: 5px;
   font-weight: 700;
   font-size: 16px;
   color: rgba(0, 0, 0, 0.652);
   cursor: pointer;
   z-index: 2;
}

.read {
   background-color: var(--green);
}

.unread {
   background-color: var(--orange);
}

.delete-button {
   position: absolute;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   z-index: -1;
   left: 100px;
   display: grid;
   justify-items: center;
   align-items: center;
   background-color: var(--red);
   font-weight: 600;
   font-size: 15px;
}

.delete-peek {
   top: -40px;
   z-index: 10;
   cursor: pointer;
}

input:focus,
select:focus {
   outline: none;
   border: 2px solid var(--blue) !important;
   border-radius: 5px;
}