#header {
   height: 150px;
   display: grid;
   justify-items: center;
   align-items: center;
   grid-template-rows: 100px 50px;
   margin-bottom: 30px;
}

#logo {
   font-size: 3em;
}

#add {
   font-weight: 800;
   padding: 10px;
   cursor: pointer;
   border: 0px;
   border-radius: 4px;
}

#main-container {
   width: calc(100%-40px);
   margin: 20px;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
   gap: 30px;
   justify-items: center;
}

.card {
   width: 200px;
   height: 300px;
   background-color: white;
   border: 1px solid black;
   border-radius: 4px;
   padding: 15px;
}

body,
h1,
h2,
h3,
h4 {
   margin: 0;
}